@import '../../style-variables';
.the-big-div{
  margin: 0 5em;
  border: 1px solid #868585;
  box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
  .landing-body{
    background: white;
    display: grid;
    grid-template-columns: 1.2fr 1fr 1fr;
    height: 50em;
    .landing-part-1{
      padding:3em;
      .drive-force{
        color: $grey-text;
        font-size: 1.5rem;
      }
      .your-biz{
        color: $orange;
        padding-left:1em;
        font-size: 2.5rem;
      }
      .explain{
        color: $grey-text;
        text-align: center;
      }
      .learn{
        font-size: 1rem;
        color: $light-blue;
        height: 2.5em;
        margin: 1em;
        padding: .5em 2.4em;
        background: transparent;
        border-color: $light-blue;
      }
    }
    .landing-part-2{

    }
  }
}
