@import '../../style-variables';

.sign-section{
  margin: 1em;
  border: 1px solid #C4C4C4;
  box-sizing: border-box;
  box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
  text-align: center;
  .sign-in{
    font-size: 1.75rem;
    margin:1em;
  }
  .lil-explain{
    font-size:1em;
    color: $grey-text;
    margin: 0 1em;
  }
  .learn-more{
    color: $light-blue;
    margin: 2em;
    border-bottom: 1px solid $orange;
    padding-bottom:20px;
  }
  .flex-form{
    display: flex;
    flex-direction: column;
    margin: 2em;
    align-items: flex-start;
    .account-help-link{
      align-self: center;
      margin: 2em 1em;
      color: $light-blue;
    }
    .terms-accept{
      color: $grey-text;
    }
  }
}