@import "../../utils/constant-styles.scss";

.nav-agent{
  color: $white;
  background: $blue;
  font-size: 1.5rem;
  padding: 2em 0em;
  height: 3.35em;
  box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
  .nav-top {
    padding-bottom: .75em;
    display: flex;
    justify-content: center;
    .search-area{
      display: flex;
      flex-direction: row;
      align-items: center;
      justify-content: center;
      min-width: 5em;
      .search-input{
        width: 55em;
        height: 2.5em;
        border: none;
      }
      .search-buttons{
        display: flex;
        margin-left: -10.5%;
        .search-advanced{
          background: white;
          border: none;
          color: $orange;
        }
        .search-button{
          background-color: $orange;
          height:2.7em;
          margin-right: -.1em;
          color: $white;
          border:none;
        }
      }
    }
    .profile-area{
      width: $top-side-width;
      padding-left: 10px;
      padding-right: $top-side-padding;
      margin-left: auto;
      text-align: end;
      .fa-user-tie{
        padding-right: 1.5em;
      }
    }
  }
  .nav-bot{
    display: flex;
    justify-content: center;
    align-items: center;
    padding: .6em 0;
    background-color: $white;
    color: $blue;
    .current-route{ 
      
      margin-right: auto;
      padding-left: $top-side-padding;
      padding-right: 10px;
    }

    a:visited, a:hover, a:active, a:link{ text-decoration: none; color:$blue; }

    .four-fa-fas{      
      margin-left: auto;
      padding-right: $top-side-padding;
      width:50;
      height:50;
    }
  }
}