@import '../../utils/constant-styles.scss';

.existing-client{
    .headline{
        font-size: 2rem;
    }
    .list{
        box-shadow: .25px 0px 4px 3px rgba(0, 0, 0, 0.25);
        height: 20em;
        overflow:scroll;
        margin:1em;
        li{
            list-style-type: none;
            padding:.3em;
            a{
                text-decoration: none;
            }
        }
    }
}