.grid-choose{
    display: grid;
    grid-template-columns: repeat(auto-fill, minmax(220px, auto));
    

    .section{
        
        padding: 2em;
        margin: 1em;
        border: 1px solid #C4C4C4;
        box-sizing: border-box;
        box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
        .title{
            font-size:1.2rem;
            margin: 0em 1em;
        }
        .explanation{
            font-size: .7rem;
        }
    }
}


@media all and (max-width: 600px){
    
    
    

}