@import '../../utils/constant-styles.scss';

.new-client{
    padding: 0em 5em;
    .r{
        display: grid;
        grid-template-columns: repeat(2, 1fr);
        grid-column-gap: 10px;
    }
    .t{
        text-align: left;
        padding-top: 3em;
    }
    .button{
        margin:400em;
    }
}