@import '../../utils/constant-styles.scss';

.retrieve-data{
    .headline{
        font-size: 2rem;
    }
    .box-for-list{
        box-shadow: .25px 0px 4px 3px rgba(0, 0, 0, 0.25);
        height: 40em;
        overflow:scroll;
        margin:1em;
        .header-list{
            background: $grey-backing; 
            padding: .75em 0;
            font-size: 1.2rem;
        }
        .list{
            display: grid;
            grid-template-columns: repeat(4, 1fr);
            padding: .5em;
            border: solid;
            border-width: 1px;
            text-align: left;
            .text{
                text-overflow: ellipsis;
                white-space: nowrap;
                overflow: hidden;
            }
        }
    }
}


