@import '../../utils/constant-styles.scss';

.img-location{
    display:flex;
    justify-content: flex-start;
    align-content: center;
    padding-top: 3em;
    padding-left: 1em;
    .txt-location{
        font-size: 1.9rem;
        margin-top: .55em;
    }
}

.top-client{
    margin:2em;
    display:grid;
    grid-template-columns: 1fr 1fr;
}