@import '../../utils/constant-styles.scss';

.footer{
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    grid-template-rows: 1;
    
    padding: 1em;
    background: $grey-text;
    color: $white;
    text-align: center;
    .col-1{
        
        padding-left: .5em;
    }
    .col-4 { 
        .icon-sect{
            
            text-align: center; 
            .icon{
                padding: 0.1em 1em;
                font-size: 1em;
            }
        }
    }
}

@media all and (max-width: $mobile-size){
    .footer{
        display: grid;
        grid-template-columns: 1fr ;
        grid-template-rows: 3;
        flex: 1em;
        background: $grey-text;
        color: $white;
        .col-1{
            display: flex;
            align-items: center;
            justify-content: center;
            text-align: center;
        }
        .footer-row{
            align-items: center;
            text-align: center;
            padding: .2em 0;
            display: flex;
            justify-content: center;
            width:100%; 
        }   
        .col-4{ 
            .icon{
                padding: 0.1em 1em;
                font-size: 1em;
            }
        }   
    }
}