@import "../../utils/constant-styles.scss";

.nav-static {
  background: $white;
  display: flex;
  justify-content: center;
  align-items: center;

  .static-bar {
    font-size: 1.3rem;
    color: $grey-text;
    padding: 2em 3em;
  }
  .sign-in {
    font-size: 1rem;
    color: $light-blue;
    height: 2.5em;
    margin: 1em;
    padding: .5em 2.4em;
    background: transparent;
    border-color: $light-blue;
  }
}

@media all and (max-width: $mobile-size){
  .nav-static {
    background: $light-blue;
  }

}

