@import "../style-variables";

.document-look{
  background: $white-backing;
  .nav-static{
    background: $white;
    margin: 0em 10em;
    display: flex;
    justify-content: center;
    align-items: center;

    .static-bar{
      font-size: 1.3rem;
      color: $grey-text;
      padding: 2em 3em;
    }
    .sign-in{
      font-size: 1rem;
      color: $light-blue;
      height: 2.5em;
      margin: 1em;
      padding: .5em 2.4em;
      background: transparent;
      border-color: $light-blue;
    }
  }



}