@import '../../constant-styles.scss';

body{
    display:flex;
    flex-direction: column;
    height:100vh;
    .home-div{
        flex: 1 0 auto;
        background: $white;
        margin: 3em 1em;
        border: 1px solid $border-color;
        text-align: center;
        
        
        .welcome{
            font-size: 2.2rem;
            margin-top: 1.5em;
        }
        hr { 
            border: 3em;
            height: 1px;
            background: $orange;
            margin: 2em 1.5em;
            width: 95%;
            top: 1px;
        }
    }
    hr { 
        border: 3em;
        height: 1px;
        background: $orange;
        margin: 2em 10em;
        top: 1px;
    }
}


/* Phone devices */

@media all and (max-width: 800px){
    
    .home-div{
        margin: 1em;
        background:$orange;
        
    }
}
